.affix {
    top:0px;
}

.docs li a {
    padding: 0;
}

.main
{
    padding-top: 70px;
}

.navbar-inverse {
    background-color: #727272;
    border-bottom: none;
    height: 70px;
}

.navbar-inverse h2 {
    color: White;
    margin-left: 245px;
    padding-top: 10px;
    margin-bottom: 0px;
}

.navbar-brand {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 228px;
    height: 70px;
    padding: 0px;
    float: none;
}

.endpoints {
    background-color: #F1F1F4;
    padding-left: 92px;
}

.site-title-link, .site-title-link:visited, .site-title-link:hover, .site-title-link:active {
  color: #FFF;
}
